<div class="container margin: auto">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form-login">
        <h2>Filtro por período</h2>
        <%= simple_form_for :twelve, method: "get" do |f| %>
          <%= f.input :start_time, as: :string, label: "Data de Início", required: false, input_html: {id: "range_start"} %>
          <%= f.input :end_time, as: :string, label: "Data Final", required: false, input_html: {id: "range_end"} %>
          <div class="form-actions">
            <%= f.button :submit, "Gerar Relatório", class: "btn btn-primary" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
