<h2>Selecionar campos</h2>

<%= simple_form_for :custom_search do |f| %>
  <%= f.input :objetivo_amostra, collection: Sample.select(:objetivo_amostra).order(:objetivo_amostra).distinct, as: :check_boxes, label_method: :objetivo_amostra %>
  <%= f.submit "Gerar relatório "%>
<% end %>