<h2>Selecionar campos</h2>

<%= simple_form_for :query, method: :get do |f| %>
  <%= f.input :objetivo_amostra, label: 'Objetivo', collection: Sample.select(:objetivo_amostra).order(:objetivo_amostra).distinct, as: :check_boxes, label_method: :objetivo_amostra %>
  <%= f.input :texto, collection: ['alpha', 'beta', 'gama'], as: :check_boxes %>
  <%= f.submit "Gerar relatório "%>
<% end %>
