<footer class="br-footer" id="footer">
  <div class="container-fluid">
    <div class="info">
      <div class="text-down-01 text-medium pb-3">Todo o conteúdo deste site é de acesso restrito a servidores do <strong>Ministério da Agricultura, Pecuária e Abastecimento</strong></div>
    </div>
  </div>
</footer>
