<div class="container">
  <div class="row" id="banner">
    <h1>Serviço de Planejamento e Gestão Laboratorial</h1>
  </div>
  <div class="row">
    <h3>Indicadores de Desempenho dos Laboratórios Federais de Defesa Agropecuária</h3>
  </div>
  <div class="row">
    <p>Através da análise periódica de Indicadores Gerenciais, a rede de Laboratórios Federais de Defesa Agropecuária – LFDA – busca a melhoria contínua dos processos laboratoriais de fiscalização, vigilância e defesa agropecuária para sempre fortalecer o agronegócio brasileiro e conferir credibilidade aos alimentos produzidos em território nacional.</p>
  </div>
  <div class="form-cards">
    <%= link_to ask_time_path, class:"link" do %>
    <div class="card">
        <i class="fas fa-flask"></i>
        <p>Amostras<br>Processadas</p>
    </div>
    <% end %>
    <%= link_to indicadores_02_path, class:"link" do %>
      <div class="card">
        <i class="fas fa-hourglass-half"></i>
        <p>Desempenho<br>Temporal</p>
      </div>
    <% end %>
    <%= link_to indicadores_30_path, class:"link" do %>
      <div class="card">
        <i class="fas fa-check-square"></i>
        <p>Ensaios<br>Realizados</p>
      </div>
    <% end %>
  </div>
</div>
