<div class="container">
  <div class="row">
    <h1>Serviço de Planejamento e Gestão Laboratorial</h1>
  </div>
  <div class="row">
    <h3>Indicadores de Desempenho dos Laboratórios Federais de Defesa Agropecuária</h3>
  </div>
  <div class="row">
    <p>Através da análise periódica de Indicadores Gerenciais, a rede de Laboratórios Federais de Defesa Agropecuária – LFDA – busca a melhoria contínua dos processos laboratoriais de fiscalização, vigilância e defesa agropecuária para sempre fortalecer o agronegócio brasileiro e conferir credibilidade aos alimentos produzidos em território nacional.</p>
  </div>
</div>
