#table {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 600px;
}

#table tr {
  height: 1em;
}

#table td {
  overflow: hidden;
  white-space: nowrap;
}
#table td :hover {
  cursor: grab;
}

#table thead th {
  position: sticky;
  top: 0;
}

#tbody {
  overflow: hidden;
}

.sortable {
    cursor: pointer !important;
    text-decoration: none !important;
}
